button{
   background-color: #32CD32;
   width: 60%;
   color:white;
   height: 80px;
   margin-top: 5%;
   align-items: center;
   font-size: 30px;

}

.botoes{
   margin-left:30%;
   margin-right:20%;
   border:2px;
   border-radius: 20px;
}

